body {
  padding: 0px;
  margin: 0px;
  background-image: url("http://cdn.pcwallart.com/images/skyline-cast-wallpaper-2.jpg");
  font-family: "Bree Serif";
  text-align: center;
}

header,
section,
footer {
  background: rgba(0, 0, 0, 0.8);
  color: #c9c9c9;
  padding-top: 25px;
  padding-right: 300px;
  padding-bottom: 25px;
  padding-left: 300px;
}

img {
  height: 200px;
  padding: 20px;
  border-radius: 10%;
  opacity: 0.8;
}

h1 {
  color: #000;
}

h2 {
  color: #FF7F50;
}

header {
  background: rgba(255, 127, 80, 0.9);
  color: #000;
}

.lessons {
  text-align: center;
}

.resources {
  background: rgba(105, 105, 105, 0.95);
}

footer {
  background: rgb(211,211,211);
  color: #000;
}

input,
textarea {
  margin: 5px 0px;
}

ul {
  margin-left: 300px;
  text-align: left;
}

a {
  color: #FFA07A;
}

a:hover {
  color: #c9c9c9;
}